@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="text-center">
        <h1>Welcome Ganesh123</h1>
        <h2>My First Google Cloud Run MVC Application</h2>
    </div>
</div>
